In [5]:
import pandas as pd
import seaborn as sns

In [7]:
df_4915 = pd.read_csv("/Users/michaelmontgomery/Documents/Interviews/RXMG/4915.csv")
print(df_4915)

     Affiliate ID1     eCPM    CTR     EPC    CLR                  Name  \
0         460639.0   $5.48   1.93%  $0.28   0.00%  First Access Solid B
1         460804.0   $4.02   1.96%  $0.21   0.00%  First Access Solid B
2         460639.0  $11.41   4.13%  $0.28   0.00%  First Access Solid B
3         460639.0   $8.23   4.56%  $0.18   0.00%  First Access Solid B
4         460804.0  $12.58   2.65%  $0.47   0.00%  First Access Solid B
..             ...      ...    ...     ...    ...                   ...
994            NaN      NaN    NaN     NaN    NaN                   NaN
995            NaN      NaN    NaN     NaN    NaN                   NaN
996            NaN      NaN    NaN     NaN    NaN                   NaN
997            NaN      NaN    NaN     NaN    NaN                   NaN
998            NaN      NaN    NaN     NaN    NaN                   NaN

     # Drops Click Rate  Clicks Data Provider (group)  ... Open Rate    Opens  \
0        1.0     10.42%   777.0                Venice  ...    18.50%   7458.0
1        1.0     12.10%  1240.0                Venice  ...    16.10%  10231.0
2        1.0     12.60%   615.0                Venice  ...    32.70%   4874.0
3        1.0     14.60%   659.0                Venice  ...    31.30%   4518.0
4        1.0     12.10%  1971.0                Venice  ...    21.90%  16314.0
..       ...        ...     ...                   ...  ...       ...      ...
994      NaN        NaN     NaN                   NaN  ...       NaN      NaN
995      NaN        NaN     NaN                   NaN  ...       NaN      NaN
996      NaN        NaN     NaN                   NaN  ...       NaN      NaN
997      NaN        NaN     NaN                   NaN  ...       NaN      NaN
998      NaN        NaN     NaN                   NaN  ...       NaN      NaN

     Operational Status1     Payout Type1 Remaining Budget   Revenue  \
0                   Live  1st PAGE SUBMIT              0.0  $221.00
1                   Live  1st PAGE SUBMIT              0.0  $255.00
2                   Live  1st PAGE SUBMIT              0.0  $170.00
3                   Live  1st PAGE SUBMIT              0.0  $119.00
4                   Live  1st PAGE SUBMIT              0.0  $935.00
..                   ...              ...              ...       ...
994                  NaN              NaN              NaN       NaN
995                  NaN              NaN              NaN       NaN
996                  NaN              NaN              NaN       NaN
997                  NaN              NaN              NaN       NaN
998                  NaN              NaN              NaN       NaN

     Segment1 Unnamed: 22 Unnamed: 23  Unnamed: 24
0         O30         NaN         NaN          NaN
1         O14         NaN         NaN          NaN
2          O1         NaN         NaN          NaN
3          O1         NaN         NaN          NaN
4         O21         NaN         NaN          NaN
..        ...         ...         ...          ...
994       NaN         NaN         NaN          NaN
995       NaN         NaN         NaN          NaN
996       NaN         NaN         NaN          NaN
997       NaN         NaN         NaN          NaN
998       NaN         NaN         NaN          NaN

[999 rows x 25 columns]